[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
boto3 = "*"
flit = "*"
ipdb = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"

[packages]
lambda-gateway = {editable = true,path = "."}
